
// 日期选择器
// .el-input__inner::placeholder{
//     color: #333;
// }
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 130px;
    text-align: center;
}
.el-input--small .el-input__inner {
    width: 120px;
    height: auto;
    line-height: 1.4rem;
}
.el-input--prefix .el-input__inner {
    // padding-left: 30px;
    padding: 3px 4px;
}
.el-input--suffix .el-input__inner {
    // padding-right: 30px;
    padding: 3px 4px;
}
.el-input__prefix {
    width: 25px;
    right: 10px;
    left: auto;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.el-input__prefix, .el-input__suffix {
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    height: 100%;
    color: #c0c4cc;
    text-align: right;
}

// 分页
.el-pager li.active {
    color: #333;
    cursor: default;
    border: 1px solid #fe9d50;
    border-radius: 3px;
}
.el-pager li:hover {
    color: #333;
    border: 1px solid #fe9d50;
    border-radius: 3px;
}
.el-pager li {
    padding: 0;
    background: #fff;
    font-size: 1rem;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
}
.el-pagination {
    text-align: center;
    font-weight: 400;
    margin: 20px 0;
}

.el-pagination button, .el-pagination span:not([class*=suffix]) {
    display: inline-block;
    font-size: 1rem;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// 弹出层/模态框
.el-dialog__header {
    padding: 20px 25px 15px;
    background: #F3F3F3;
    border-radius: 2px 2px 0 0;
}
.el-dialog__title {
    margin: 0;
    color: #666;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.1rem;
}
.el-dialog__body {
    min-height: 60px;
    padding: 20px 25px;
    overflow: auto;
    border: none;
    box-shadow: none;
    text-align: left;
}
.auto-asign-tip {
    font-size: 14px;
    color: #666;
    line-height: 32px;
    h4 {
        margin: 0;
        padding-bottom: 15px;
        font-size: 15px;
    }
}
.el-dialog__footer {
    padding: 10px 15px 15px;
    border-top: none;
    text-align: right;
}
.el-button--primary {
    color: #fff;
    background-color: #fe9d50;
    border: none;
    padding: 6px 24px;
    font-size: 16px;
    border-radius: 0;
    line-height: 1.4rem;
}
.el-button--primary:focus, .el-button--primary:hover {
    background: #fe9d50;
    border-color: #fe9d50;
    color: #fff;
}

.el-button:focus, .el-button:hover {
    color: #fff;
    border-color: #fe9d50;
    background-color: #fe9d50;
}
// 轮播图
.el-carousel__arrow {
    background-color: rgba(0,0,0,.55);
}
.el-carousel {
    overflow: hidden;
    position: relative;
}
// .el-carousel__indicator {
//     display: inline-block;
//     background-color: transparent;
//     padding: 0;
//     width: 10px;
//     height: 10px;
//     cursor: pointer;
//     border: 1px solid #fff;
//     margin: 0 10px;
// }
.el-carousel__indicator {
    display: inline-block;
    background-color: transparent;
    padding: 12px 4px;
    cursor: pointer;
}
.el-carousel__indicators {
    bottom: 0px;
    right: 10px;
    left: auto;
    transform: translateX(0);
}
.el-carousel__button {
    display: block;
    opacity: .48;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

// 轮播图
.s-btn{
    .el-carousel__button {
        display: block;
        opacity: .48;
        width: 7px;
        height: 7px;
        background-color: #fff;
        border: none;
        outline: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .el-carousel__indicator {
        display: inline-block;
        background-color: transparent;
        padding: 4px 2px;
        cursor: pointer;
    }
    .el-carousel__indicators {
        bottom: 6px;
        right: 4px;
        left: auto;
        transform: translateX(0);
    }
}